<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NSG Notifier</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="/images/nsg_logo.svg" class="img-fluid">
            </div>

            <ul class="list-unstyled components">
              <li>
                <%= link "Монитор", to: page_path(@conn, :index) %>
              </li>
              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Конфигурация</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="#">Page 1</a>
                      </li>
                      <li>
                          <a href="#">Page 2</a>
                      </li>
                      <li>
                          <a href="#">Page 3</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#">Контакты</a>
              </li>
            </ul>
        </nav>
        <!-- Page Content -->
        <div id="content">

            <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background: #305478;">
                <div class="container-fluid">
                    <a id="sidebarCollapse" class="navbar-link"><i class="fa fa-bars" style="color: #fff;"></i></a>
                    <p class="navbar-brand mx-auto">Обработчик событий</p>
                </div>
            </nav>

          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>


          <div id="messages" class="panel-body panel-messages">
          </div>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>

        </div>

    </div>

    <script src="<%= static_path(@conn, "/js/app.js ") %>"></script>
  </body>
</html>
